.home_section {
  margin: 30px auto;
  max-width: 100%;
  width: 1000px;
}

.container_introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px 100px;
  grid-template-areas:
    "intro_grid_1 intro_grid_2"
    "intro_grid_3 intro_grid_3";
}

.car_image {
  width: 100%;
  max-width: 650px;
}

.intro_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
}

.intro_text > h1 {
  max-width: 525px;
  text-align: center;
  font-size: 2.2em;
}

.intro_text > h2 {
  max-width: 445px;
  text-align: center;
}

.contact,
.wpp_contact_call {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  column-gap: 10px;
  border-radius: 12px;
}

.contact > p {
  font-weight: bold;
  font-size: 1.5em;
}

.contact > button,
.wpp_contact_call > button {
  cursor: pointer;
  background-image: linear-gradient(#04bf33, var(--wpp_color));
  color: white;
  width: 230px;
  height: 50px;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  font-weight: bold;
  box-shadow: 0px 0px 2px gray;
}

.contact > button > img,
.wpp_contact_call > button > img {
  width: 30px;
}

.wpp_contact_call {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}

.wpp_contact_call > h2 {
  width: 100%;
  max-width: 425px;
}

.container_services {
  margin: 130px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}

.container_services > h2 {
  font-size: 1.85em;
}

.container_service_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.service_card {
  display: grid;
  grid-template-rows: 150px 150px 50px;
  width: 100%;
  max-width: 300px;
  height: 350px;
  border: solid 1px var(--bg_color);
  border-radius: 10px;
  overflow: hidden;
  grid-template-areas:
    "service_grid1"
    "service_grid1"
    "service_grid2";
  align-items: center;
}

.service_card > img {
  width: 100%;
  aspect-ratio: 4 / 4;
  object-fit: cover;
}

.service_card > p {
  font-weight: bold;
  font-size: 1.4em;
  height: 100%;
  width: 100%;
  background-color: var(--bg_color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.price_container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.price_container > h2 {
  font-size: 1.85em;
}

.price_table_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  background-image: url(/src/assets/imgs/home_imgs/price_imgs/background_prices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  column-gap: 20px;
}

.price_table {
  border-collapse: separate;
  border-spacing: 0;
  padding: 10px;
  background-color: var(--bg_color);
  border-radius: 10px;
  height: 225px;
  width: 100%;
  max-width: 620px;
}

td {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  height: 50px;
}

tr:nth-child(1) {
  font-weight: bold;
}

td:nth-child(1) {
  min-width: 100px;
  text-align: center;
}

td:nth-child(2) {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
}

td:nth-child(3) {
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  max-width: 150px;
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

.container_payment {
  background-color: var(--bg_color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  width: 100%;
  max-width: 300px;
  height: 225px;
}

.container_payment > p {
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

.payment_line {
  display: flex;
  column-gap: 10px;
  align-items: center;
  width: 90%;
  font-weight: bold;
}

.payment_line > img {
  width: 30px;
}

.container_evaluation {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.carousel_evaluation {
  width: 100%;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.evaluation_card {
  height: 270px;
  width: 200px;
  background-color: white;
  border: solid 2px var(--bg_color);
  border-radius: 10px;
  box-shadow: 0px 0px 3px var(--bg_color);
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: 45px 25px 200px;
  row-gap: 10px;
  grid-template-areas:
    "evaluation_item_1 evaluation_item_2 evaluation_item_2"
    "evaluation_item_3 evaluation_item_3 evaluation_item_3"
    "evaluation_item_4 evaluation_item_4 evaluation_item_4";
  align-items: center;
}

.person_name_evaluation {
  justify-self: baseline;
}

.evaluation_text {
  align-self: self-start;
}

.evaluation_card > img {
  width: 40px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.container_stars {
  display: flex;
  column-gap: 1px;
  font-size: 1.4em;
}

.container_evaluation_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.evaluation_button {
  display: none;
}

.container_evaluation_buttons > label {
  background-color: white;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.container_evaluation_buttons > label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  background-color: var(--bg_color);
  transition:
    height 0.2s ease,
    width 0.2s ease;
}

.evaluation_button:checked + label::before {
  height: 15px;
  width: 15px;
}
