header {
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bg_color);
  box-sizing: border-box;
  padding-left: 30px;
}

.container_logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container_logo > img {
  width: 110px;
}

.container_logo > p {
  font-weight: bold;
  font-size: 20px;
  width: 115px;
  text-align: center;
}
