header {
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bg_color);
  box-sizing: border-box;
  padding-left: 30px;
}

.container_logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: var(--logo_url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 165px;
}

.dark_theme .container_logo {
  background-image: var(--logo_url);
}

.container_logo > img {
  width: 190px;
}

.container_logo > p {
  font-weight: bold;
  font-size: 20px;
  width: 115px;
  text-align: center;
}
